.login-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #2563eb, #1e40af);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-card {
  width: 100%;
  max-width: 450px;
  background: #ffffff;
  border-radius: 18px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.login-logo {
  text-align: center;
  color: #2563eb;
  margin-bottom: 10px;
  font-size: 34px;
}

.login-title {
  text-align: center;
  color: #1f2937;
  margin-bottom: 10px;
}

.login-subtitle {
  text-align: center;
  color: #6b7280;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #374151;
}

.input-group input {
  width: 100%;
  padding: 13px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 15px;
  box-sizing: border-box;
}

.input-group input:focus {
  outline: none;
  border-color: #2563eb;
}

.password-box {
  display: flex;
  gap: 10px;
}

.show-btn {
  border: none;
  background: #2563eb;
  color: white;
  padding: 0 15px;
  border-radius: 8px;
  cursor: pointer;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  font-size: 14px;
}

.login-options a {
  color: #2563eb;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 14px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #1d4ed8;
}

.signup-text {
  text-align: center;
  margin-top: 25px;
}

.signup-text a {
  color: #2563eb;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 500px) {
  .login-card {
    padding: 25px;
  }

  .login-logo {
    font-size: 28px;
  }
}

.error-message{
    color:#e53935;
    text-align:center;
    margin-bottom:15px;
    font-size:14px;
    font-weight:600;
}